html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

div {
    border: 1px solid Chocolate;
}

section {
    border: 1px solid black;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
    width: 850px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px

}
.logo{
	height: 70px;
 
}
.top-navigation  .links{
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

a:link{
    text-decoration: none;
    color: grey;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
/*
div {
	padding: 0px 15px
}
*/
.introduction {
    /*background-image: url("http://i.imgur.com/ggcP1K4.jpg");*/
    background-image: url('../images/karmabackground.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    padding: 15em 0;
}


.introduction > .content {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: white;

}
h1,h2{
	text-align: center;
}
button {
    background-color: orange;
    color: white;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem; 
    display: block;
    margin:0 auto;
}
button:hover{
    color: black;
    background-color: red;

}
.cases{
    background-color: white;
    margin-top: 0;
    padding-top: 0;
}
.cases > .content {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: black;

}
.cases .devices {
    width: 10em;
    display: inline;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}
.social {
    background-color: white;
}
.social > .content {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: black;

}
.social .content  .icons li {
    display: inline-block;
    margin-left: 25px;
}
/*
ul{
	text-align: center;
}
*/

